@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

header{
    width: 100% !important;
    padding: 0px;
    margin: 0px 0px 25px 0px;
}


/*Inicia CSS del Slider*/
.slider{
    width: 100%;
    height: 350px;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    z-index: 3;
}

.slider li{
    list-style: none;
    width: 100%;
}

.slider img{
    width: 100%;
    height: 350px;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/*Termina CSS del Slider*/

@media(min-width: 801px){

    #logo{
        margin:15px 0px 15px 80px ;
        display: block;
        width: 200px;
        float: left;
    }
    
    .titulo_principal{
        color: #888;
        font-size: 22px;
        float: right;
        display: block;
        text-align: center;
        margin:15px 80px 15px 20px ;
        display: block;
    }

    nav.menu_principal{
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #004669;
        height: 60px;
        padding: 0;
        margin: 0;

    }

.menu-fixed {
        position:fixed;
        z-index:1000;
        top:0;
        left:0;
        width:100%;
        box-shadow:0px 4px 3px rgba(0,0,0,.5);
    }

#menu, #menu ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    }

    #menu{
        width: auto;
        height: 100%;
        float: left;
    }
    /*Reseteamos elementos del #menu*/

    #menu:before,
    #menu:after{
        content: "";
        display: block;
    }
    #menu:after{
        clear: both;
    }
    /*Terminamos Recet elementos del #menu*/
    #menu li{
        float: left;
        position: relative;
        height: auto;
        padding-left: 20px;
    }

    #menu li:hover{
        background-color: #E7B200;
    }

    #menu a{
        float: left;
        padding: 23px 25px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font: bold 12px Arial, Helvetica;
        height: 100%;
    }
    #menu ul{
        margin: 0px 0 0 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top:60px;
        left: 0px;
        z-index: 1;
        background-color: #E7B200;
        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0,3);
        border-radius: 0px 3px 3px 3px;
        transition: all 0,4s ease-in-out;
        width: 200px;
    }

    #menu ul:hover{
        transition: all 0,1s ease-in-out;
        background-color: #E7B200;
    }
    #menu li:hover > ul{
        opacity: 1;
        visibility: visible;
        margin: 0;
        background-color: #E7B200;

    }

    #menu ul ul{
        top:0;
        left: 200px;
        margin: 0 0 0 20px;
        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0,3);
    }

    #menu ul a{
        padding: 10px;
        width: 130px;
        display: block;
        white-space: nowrap;
        float: none;
        text-transform: none;
    }

    #menu ul a:hover{
        background-color: #E7B200;

    }

    #menu ul li:first-child > a:after{
        content: "";
        position: absolute;
        left: 40px;
        top:-6px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px #1ebdbe;
    }

    #menu ul ul li:first-child > a:after{
        left: -6px;
        top:50%;
        margin-top: -6px;
        border-left: 0;
        border-top: 6px solid transparent;
        border-right: 6px #577cc9;
        border-bottom: 6px transparent;
    }

    /*Esta linea esconde el menu movil*/

    .menu_bar{
        display: none;
    }

    .principal{
        width: 100%;
        min-width: 90%;
        min-height: 400px;
        margin: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;

    }

    hr{
        margin: 20px 0px;
    }
    .central h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .central h3{
        margin: 20px 0px 20px 0px;
    }
    .centra p{
        text-align: left;
    }
    section .central{
        width: 70%;
        float: left;
        margin: 0px 20px 20px 20px;
        padding: 30px;
        background: #fff;
        box-shadow:  2px 4px 15px -4px rgba(0,0,0,0.75);
        overflow: auto;
        background: #fff;
    }

    .video{
        text-align: center;
        margin: 10px;
    }
    .video iframe{
        width:500px; 
        height:280px;
    }
    .derecha aside{
        width:230px !important;
        height: 300px;
        background: #fff;
        float: left;
        color:#577cc9;
        padding: 5px;
        text-align: center;
        box-shadow:  2px 4px 15px -4px rgba(0,0,0,0.75);
    }
    .derecha aside a{
        color:#fff;
    }

    .twitter-timeline{
        max-width:220px; 
        max-height:400px;
        overflow: auto;
    }

    footer {
        background: #333 url(../img/logoUNADMobile-HD.png) no-repeat top 30px left 10%;
        background-size: 155px 38px;
        padding: 10px 10px 10px 30%;
        width: 69,99% !important; 
        color: #FFF;
        font-size: 13px;
        margin-top: 10px;
    }

}



/*Estilos para dispositivos moviles*/
@media(max-width: 800px){

    header nav {
        width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;

	}
 
   header .menu_bar{
        margin: 0;
        display: block;
        height: 60px;
        line-height: 55px;
        cursor: pointer;
        padding: 0 0 0 0;
        border: 1px solid #004669;
        background: #E7B200;
        background: url("../img/menu.png") no-repeat 88% center, #004669;    
    	-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
        box-sizing:border-box;
        z-index: 15;
        position: fixed;
        width: 100%;
    }

    header .menu_bar a{
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
        font-size: 17px;
        font-weight: bold;
    }
    .menu_principal{
         display: block;
         left: -100%;
         width: 80%;

     }
    header nav.menu_principal #menu{
        box-shadow:0px 4px 3px rgba(0,0,0,.5);
        background: #044f75;
        color: #fff;
        margin: 0;
        padding: 40px 0;
        display: block;
        overflow: auto;
        position: absolute;
        height: 92%;
        bottom: 0;
        width: 100%;
        z-index: 5;
    }

    header nav.menu_principal #menu a{
        text-decoration: none;
        color: #fff;
        padding: 10px 20px;
        display: block;
    }

    header nav.menu_principal #menu ul li a{
        display:block;
		float:none;
        border-bottom:1px solid rgba(255,255,255, .3);
        margin-left: 20px;
        margin-right: 20px;
    }

    header nav.menu_principal #menu a:active{
        background: #E7B200;
    }
 
    #logo{
        margin:15px 5px 5px 15px ;
        display: none;
        position: absolute;
        float: none;
        width: 140px;
    }
    
    .titulo_principal{
        text-align: right;
        float: none;
        left: 0;
        display: block;
        position: static;
        color:#E7B200;
        font-size: 14px;
        font-weight: bold;
        margin: -30px 15px 15px 0;
        clear: both;
    }
    /*Inicia CSS del Slider*/
    .slider{
        width: 100%;
        height: auto;
        margin: auto;
    }

    .slider img{
        width: 100%;
        height: 150px;
    }

    

    /*Inicia Estilos de menu para dispositivos moviles*/
    .menu-fixed {
        position:fixed;
        z-index:10;
        top:0;
        left:0;
        width:100%;
        box-shadow:0px 4px 3px rgba(0,0,0,.5);
    }

    nav *{
        box-sizing: border-box;
    }   

    /*#menu_entrada{
        margin: 0;
        display: block;
        height: 60px;
        line-height: 55px;
        cursor: pointer;
        padding: 0 0 0 50px;
        border: 1px solid #004669;
        color:#fff;
        font-weight: bold;
        background-color: #111;
        background: url("../img/menu.png") no-repeat 10px center, #004669;
        z-index: 2000;        
    }

   
    #menu{
        margin: 0;
        position: relative;
        padding: 10px 40px 60px 20px;
        overflow: auto;
        width: 100%;
        z-index: 9999;
        justify-content: center;
        box-shadow:0px 4px 3px rgba(0,0,0,.5);
        background-color: #044f75;
        display: none;
        height: 100%;
        min-height: 100%;
    }
    
    #menu ul{
        position: static;
        display: none;
        opacity: 1;
        background: none;
        box-shadow: none;
        margin: 0;
        width: 100%;
    }

    #menu ul ul{
        margin: 0 0 0 20px;
        box-shadow: none;
    }

    #menu li{
        display: block;
        float: none;
        border: 0;
        margin: 10px 0;
        box-shadow: none;
    }

    #menu ul li{
        margin: 15px 0;
        box-shadow: none;
        padding: 0;
        width: 100%;
        display: block;
        height: 30px;
    }

    #menu a{
        display: block;
        float: none;
        padding: 0;
        color: #fff;
        font-size: 16px; 
        text-decoration: none;
        width: 100%;
    }

    #menu a:hover{
        color: #fafafa;
    }

    #menu ul a{
        height: 20px;
        width: 100%;
        border-bottom: 1.5px #145 solid;
        background: none;
        padding: 20px;
        display: flex;
        align-items: center;
    }*/

    section.principal{
        width: 100% !important;
        margin: 0;
        padding:0;
        background-color: #fff;
        overflow: hidden;
    }

    section.central{
        display: block;
        position: static;
        width: 96%;
        margin: 10px 0;
        padding: 2%;
        float: left;
        z-index: 1;
    }
    
    .derecha aside{
        display: block;
        position: static;
        width: 96%;
        margin: 10px 0;
        padding: 2%;
    }

    .twitter-timeline{
        width: 100%;
        max-width:800px; 
        max-height:auto;
        overflow: auto;
    }

    footer {
        background: #333 url(../img/logoUNADMobile-HD.png) no-repeat top 30px left 5%;
        background-size: 120px 25px;
        padding: 10px 10px 10px 40%;
        width: 69,99% !important; 
        color: #FFF;
        font-size: 8px;
        margin-top: 10px;
        height: auto;
    }
}

/*Termina Estilos de menu para dispositivos moviles*/